<!DOCTYPE html>
<html lang="nb">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Title</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js"></script>

<body>
<!--commen nav bar, remember to modify later, cause now it kind of double up with the one below, visually -->
{% include "commonNav.html" %}

    <main class = "general-bg">
        <section class = "calender-bg">
            <h1> Kalender </h1>
            <div id = "calender"></div>
        </section>
    </main>
</body>
<script src="/static/app.js"></script>
</html>