<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tromsø Dykkesenter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <main class="home-page">
        <h1>Utleiesystem</h1>
        <p class="subtitle">Tromsø Dykkesenter</p>

        <a href="/login" class="login-button">Login</a>
    </main>

    <script src="/static/app.js"></script>
</body>
</html>