<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<script src="/static/app.js"></script>
<body>
{% include "includes/commonNav.html" %}

<!--the bookmark-like navigation bar on the top with the filter sorting feature -->
<nav id="category-tabs" class="bookmark-tabs">
    <span id="category-placeholder" class="nav-placeholder">
        Ingen kategorier ennå
    </span>

    <button id="add-category-button" onclick="showAddCategoryForm()" class="nav-add-button">
        + Opprett kategori
    </button>

    <select id="filterStatus">
        <option value="">Alle statuser</option>
        <option value="new">Helt ny</option>
        <option value="repair">Treng repersjon</option>
        <option value="unavailable">Kan ikke leie ut</option>
    </select>

    <select id="filterCategory">
        <option value="">Alle kategorier</option>
    </select>

    <select id="sortItems">
        <option value="id-desc">ID: nylig til gammel</option>
        <option value="id-asc">ID: gammel til nylig</option>
        <option value="status-asc">Status: A-Å</option>    <!--Fix this later! The Status is off, should be filter after 3 options  -->
        <option value="category-asc">Kategori: A-Å</option>
    </select>

    <button type="button" onclick="applyItemFilters()">Filtrer</button>
</nav>

<!--item page -->
    <main>
        <section id="items" class="item-page">
            <div id="item-sections"></div>

                <div class="section-header">
                    <h2>Dykkeflaske</h2>
                    <button class="add-button" onclick="AddItemForm()">
                        + Opprett varer
                    </button>
                </div>

                <p id="empty-item-message" class="empty-message">
                    Ingenting på lager
                </p>

                <div id="item-list" class="item-list">
                    <!--item cards appear here -->
                </div>


            <!--the hidden pop-up category form -->
            <form class="hidden" onsubmit="createCategory(event)">
                <label for = "categoryName"> Navn </label>
                <input id = "categoryName" class ="login-card input" required>

                <label for = "categoryDescription"> Beskrivelse </label>
                <input id = "categoryDescription" class = "login-card input">

                <button type = "submit">Opprett Kategori </button>
            </form>

            <!--the hidden pop-up item form -->
            <form id="AddCategoryForm" class="hidden" onchange="createItem(event)">
                <label for = "itemCategory"> Kategori </label>
                <select id = "itemCategory" name = "itemCategory">
                    <option value = ""> Velg Kategori </option>
                    <option value = "createC"> Opprett Kategori </option>
                     <!--app.js will add categories here  -->
                </select>

                <label for = "itemStatus">Status på varer </label>
                <select id = "itemStatus" name = "itemStatus">
                    <option value = "New">Helt ny</option>
                    <option value = "okay">Grei stand</option>
                    <option value = "notgood">Treng reparasjon</option>
                    <option value = "bad">Ikke tilgjengelig</option>
                </select>

                <label for = "itemComment"> Kommentar </label>
                <input id = "itemComment" class = "login-card input">

                <button type="submit">Lagre vare</button>

            </form>
        </section>
    </main>
</body>
</html>