<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<script src="/static/app.js"></script>
<body>
    <main class="login-page">

        <form onsubmit = "loginAdmin(event)" class = "login-card">
            <h1>Logg inn</h1>

            <label for = "login-email"> E-post </label>   <!--Changed id here to avoid confusion with other email and password, remember to adjust otherplaces-->
            <input id = "login-email" class = "login-card input" type = "email" required>

            <label for = "login-password"> Passord </label>
            <input id = "login-password" class = "login-card input" type = "password" required>

            <div class="login-actions">
                <button type="submit" class="button">Logg inn</button>
                <a href="/register" class="button">Registrere</a>
            </div>
        </form>

        <div id="error-message-box" class="error-popup hidden">
            <button type="button" class="error-close" onclick="closeErrorMessage()">×</button>
            <p id="error-message"></p>
        </div>



    </main>
</body>
</html>